body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.example {
  padding: 1rem;
}

#example-output {
  padding: 1rem;
  background-color: #0e6b75;
  color: #fff;
  border-radius: 10px;
  display: inline-block;

  * {
    font-size: 0.75rem;
  }
}

h4 {
  margin-bottom: 0.5rem;
}

small {
  margin-top: 10px;
  display: block;
}

code {
  padding: 10px;
  background-color: #f2edea;
  display: block;
  border-radius: 10px;
  font-size: 12px;
  overflow: auto;
}
